{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/ejemplar.css' %}">
<div class="box">
    <h2>Lista Ejemplares</h2>
</div>
{% if ejemplares %}
<ul class="menu">
    {% for ejemplar in ejemplares %}
    <li><a href="{% url 'ejemplar' ejemplar.id %}">{{ ejemplar.libro }}</a> ({{ ejemplar.id }}) 
        &nbsp;
        <a style="text-align: end;" href="{% url 'ejemplar_update' ejemplar.id %}" class="btn btn-success">Editar</a>
        <a style="text-align: end;" href="" class="btn btn-danger">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Ooops! No tenemos ejemplares cargados.</p>
{% endif %}
<br>
<div class="d-flex justify-content-end">
    <a href="{% url 'ejemplar_new' %}" class="btn btn-sm btn-primary">Nuevo Ejemplar</a>
</div>

{% endblock %}
{% endblock %}