.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.sidebar-nav:hover {
    margin-left: 7px;
}

.box {
    background-color: chocolate;
}

h2 {
    background-color: chartreuse;
    color: black;
}
